:root{
	--transition: all 0.2s linear; 
	--button-red: #ED1C24;
	--button-red-hover: #ca191f;
	--color-white: #fff;
	--text-color: #232323;
	--text-color-hover: #0659a6;
	--color-dark-white: #F5F5F5;
	--color-dark-blue: #223066;
	--submit-color: #0659A6;
	--submit-hover: #054e92;
	--light-dark: #232323;
	--color-wheat: #F9F9F9;
	--color-gray: #7D7D7D;
}