.hiring__left{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: var(--light-dark);
	width: 558px;
	margin-bottom: 55px;
	}

.hiring__main{
	display: flex;
	gap: 121px;
}
