.hiring__headerTitle{
	font-size: 60px;
	line-height: 65px;
	color: var(--color-dark-blue);	
	margin-bottom: 20px;
}
.hiring__applyTitle{
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 52px;
	text-align: center;
	font-family: 'Orelega One';
	color: var(--color-dark-blue);
	margin-bottom: 18px;
}