.hiring__input{
	display: block;
	background: var(--color-wheat);
	border: 1px solid var(--color-dark-blue);
	margin-bottom: 31px;
	width: 497px;
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 180%;
	color: var(--light-dark);
	padding: 15px 30px;
}