.hiring__form{
	background-color: var(--color-white);
	padding: 111px 27px 50px 30px;
}
.hiring__inputContainer{
	display: flex;
	position: relative;
	align-items: center;
}
.hiring__inputIcon{
	position: absolute;
	right: 8px;
	top: 23px;
}